.Part-1{
    background-color: #1f2937;
}
.Main{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}
.subtext,.link{
    font-size: 18px;
    color: #e5e7eb;
}
.Main{
    font-size: 24px;
    color: #F9FAF8;
}